.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}
#userChoice{
  color:blue;
  background-color: green;
}
#computerChoice{
  color:orange;
  background-color: red;
}
#you{
  background-color: green;
}
#CPU{
  background-color: red;
}
